{% extends 'base.html' %}

{% block upload %}
{% load static %}
<script src="{% static "/jquery-3.6.0.min.js"%}">
console.log("22")
</script>
<script>
    console.log("222")

$(function () {
bindAvatar();
});
function bindAvatar() {
if(window.URL.createObjectURL){
bindAvatar3();
}else if(window.FileReader){
bindAvatar2();
}else {
bindAvatar1();
}
}
/*Ajax上傳至後臺並返回圖片的url*/
function bindAvatar1() {
$("#avatarSlect").change(function () {
console.log("123");
var csrf = $("input[name='csrfmiddlewaretoken']").val();
var formData=new FormData();
formData.append("csrfmiddlewaretoken",csrf);
formData.append('avatar', $("#avatarSlect")[0].files[0]);  /*獲取上傳的圖片物件*/
$.ajax({
url: '/upload_avatar/',
type: 'POST',
data: formData,
contentType: false,
processData: false,
success: function (args) {
console.log(args);  /*伺服器端的圖片地址*/
$("#avatarPreview").attr('src','/'+args);
$("#avatar").val('/'+args);  /*將服務端的圖片url賦值給form表單的隱藏input標籤*/
}
})
})
}
/*window.FileReader本地預覽*/
function bindAvatar2() {
console.log("2");
$("#avatarSlect").change(function () {
var obj=$("#avatarSlect")[0].files[0];
var fr=new FileReader();
fr.onload=function () {
$("#avatarPreview").attr('src',this.result);
console.log(this.result);
$("#avatar").val(this.result);
};
fr.readAsDataURL(obj);
})
}
/*window.URL.createObjectURL本地預覽*/
function bindAvatar3() {
console.log(3);
$("#avatarSlect").change(function () {
var obj=$("#avatarSlect")[0].files[0];
var wuc=window.URL.createObjectURL(obj);
$("#avatarPreview").attr('src',wuc);
$("#avatar").val(wuc);
})
}


</script>




{% endblock  %}


{% block content %}

<div class="row" style="  display: flex;justify-content:center; align-items: center; ">

    {% for i in photos %}

    {% if i.image%}
    

    <div class="card mt-4" style="width: 20rem;">
    <div class="test" style="  display: flex;justify-content:center; align-items: center; ">
    <img src="{{ i.image.url }}" class="card-img-top" style="height: 12rem; width: 18rem;   display: flex;justify-content:center; align-items: center; ">
    </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" href="download{{i.image.url}}/">An item</li>
    <button onclick="window.location.href='download{{i.image.url}}/'" class="list-group-item">A second item</li></button>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>

  </div>
</div>
    {% else %}
    <a>{{i}}</a>
    {% endif %}
    {% endfor %}
</div>

{% endblock  %}

