{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% include "socialaccount/snippets/login_extra.html" %}
<script>
    const myAppId = '2937740549833082'

      // This is    called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback')
        console.log(response)

        // Step 4 code goes here
 if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI()
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log into this app.'
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log into Facebook.'
        }

      }

      // Step 3 code goes here
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
      // Step 2 code goes here
    window.fbAsyncInit = function() {
        FB.init({
          appId  : myAppId,
          cookie : true,    // enable cookies to allow the server to access the session
          version: 'v11.0', // use graph api version v10.0
          xfbml  : true,    // parse social plugins on this page
        })
        FB.AppEvents.logPageView()
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response)
        })
      };

      // Load the SDK dynamically
      (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ')
        FB.api('/me', function(response) {
          console.log(`Successful login for: ${response.name}`)
          document.getElementById('status').innerHTML = `Thanks for logging in, ${response.name}!`
        })
      }
    </script>



<form action="" method="POST">
    {% csrf_token %}
    {{ form }}

    <input class="btn btn-primary" type="submit" value="登入" />
        <a class="btn btn-danger" href="{% provider_login_url 'google' method='oauth2' %}">Google登入</a>
    <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
  <span class="fa fa-facebook"></span>
               Sign in with Facebook
 </a>
 
    <p>還沒有帳號嗎? <a href="{% url 'Register' %}">註冊</a></p>
</form>
<div id="status"></div>
{% endblock  %}


 

    <!-- Step 1 code goes here -->

    
  
  </body>
</html>